[Unit]
Description=ASGI server
OnFailure=monitor@%n.service

[Service]
ExecStart=/opt/ybs32/bin/unico.sh
SyslogIdentifier=unico
Restart = on-failure

[Install]
WantedBy=multi-user.target
